<div class="container-fluid">
  <div class="row justify-content-center about-us">
    <div class="col-11">
      <div class="row justify-content-center about-us-inner">
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="prod about-us-img  mx-auto d-block" src="../../assets/temp/productivity.svg">
          <h3 class="content_title_b text-center">
            Productivity
          </h3>

          <p class="content_b text-center">
            Your business may generate tremendous data but it won't create better decisions if they come from disparate
            sources
          </p>
        </div>
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="emp about-us-img  mx-auto d-block" src="../../assets/temp/empathy.svg">
          <h3 class="content_title_b text-center">
            Empathy
          </h3>

          <p class="content_b text-center">
            We shall always put people ahead of systems and processes. Empathy shall always be at the heart of our
            decision-making process.
          </p>
        </div>
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="open about-us-img  mx-auto d-block" src="../../assets/temp/openness.svg">
          <h3 class="content_title_b text-center">
            Openess
          </h3>

          <p class="content_b text-center">
            In order to bring more value to our clients, we shall always be open to change, collaboration, and
            customerfeedback.
          </p>
        </div>
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="prag about-us-img  mx-auto d-block" src="../../assets/temp/pragmatism.svg">
          <h3 class="content_title_b text-center">
            Pragmatic
          </h3>

          <p class="content_b text-center">
            We shall always be pragmatic in our approach and strategy, utilizing an agile method in developing
            applications and making practical decisions without compromising quality.
          </p>
        </div>
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="learn about-us-img  mx-auto d-block" src="../../assets/temp/learning.svg">
          <h3 class="content_title_b text-center">
            Learning
          </h3>

          <p class="content_b text-center">
            We shall strive for continuous learning, to never be complacent and stagnant.

          </p>
        </div>
        <div class="col-10 col-sm-10 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
          <img class="power about-us-img  mx-auto d-block" src="../../assets/temp/empowerment.svg">
          <h3 class="content_title_b text-center">
            Empowerment
          </h3>

          <p class="content_b text-center">
            We shall always be a beacon of empowerment to our clients, helping them maximize existing technologies and
            ensuring their readiness to adopt new ones.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid statement">
  <div class="row statement-row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-5 vis rounded shadow-sm">
      <img class="statement-img mx-auto d-block" src="../../assets/temp/vision2.svg">
      <h1 class="content_title Varela">
        Vision
      </h1>
      <p class="content Varela">
        A world where people can make the most out of their time.
      </p>
    </div>
    <div class="col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-5 mis shadow-sm rounded">
      <img class="statement-img mx-auto d-block" src="../../assets/temp/mission-3.svg">
      <h1 class="content_title Varela">
        Mission
      </h1>
      <p class="content Varela">
        To spread the power of efficiency and productivity to people and organizations.
      </p>
    </div>
  </div>
</div>
