<div class="container-fluid">
  <div class="row justify-content-center client_row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo bdo" src="../../assets/logos/bdo.png">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="img-fluid client_logo smart" src="../../assets/logos/smart.png">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="img-fluid client_logo pldt" src="../../assets/logos/pldt.png">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid">
      <img class="img-fluid client_logo singaporeair" src="../../assets/logos/singaporeair.png">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-r">
      <img class="img-fluid client_logo feu" src="../../assets/logos/feu.png">
    </div>

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo smdc" src="../../assets/logos/smdc.png">
    </div>

  </div>

  <div class="row justify-content-center client_row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo cathay" src="../../assets/logos/cathay.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="img-fluid client_logo softype" src="../../assets/logos/softype.png">


    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="img-fluid client_logo rustans" src="../../assets/logos/rustans.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid">
      <img class="img-fluid client_logo bpi" src="../../assets/logos/bpi.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-r">
      <img class="img-fluid client_logo metrobank" src="../../assets/logos/metrobank.png">
    </div>

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo eastwest" src="../../assets/logos/eastwest.jpg">
    </div>

  </div>


  <div class="row justify-content-center client_row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="client_logo jazz  mx-auto d-block" src="../../assets/logos/jazz.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="client_logo green  mx-auto d-block" src="../../assets/logos/green.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="client_logo shore  mx-auto d-block" src="../../assets/logos/shore.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid">
      <img class="client_logo makati mx-auto d-block" src="../../assets/logos/makati.png">


    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-r">
      <img class="img-fluid client_logo mandaluyong mx-auto d-block" src="../../assets/logos/mandaluyong.png">

    </div>

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo napcor mx-auto d-block" src="../../assets/logos/napcor.png">


    </div>

  </div>


  <div class="row justify-content-center client_row">

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid-l">
      <img class="img-fluid client_logo poea" src="../../assets/logos/poea.jpg">


    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card col-mid">
      <img class="img-fluid client_logo horizon" src="../../assets/logos/horizon.jpg">

    </div>

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm logo-card">
      <img class="img-fluid client_logo dole mx-auto d-block" src="../../assets/logos/dole.png">


    </div>



  </div>

</div>

<div class="container-fluid partners">
  <h1 class="content_title Varela text-center partner_top">Partners</h1>
  <div class="row justify-content-center partner_row">
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card">
      <img class="img-fluid client_logo softypep" src="../../assets/partners/softype.png">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card col-mid-l">
      <img class="img-fluid client_logo idea" src="../../assets/partners/ideaspace.png">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card col-mid-l">
      <img class="img-fluid client_logo microsoft" src="../../assets/partners/microsoft.jpg">
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card col-mid">
      <img class="img-fluid client_logo intel" src="../../assets/partners/intel.jpg">

    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card col-mid-r">
      <img class="client_logo hp mx-auto d-block" src="../../assets/partners/hp.png">

    </div>

    <div class="col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1 col-xxl-1 rounded shadow-sm partner-card">
      <img class="img-fluid client_logo sweep" src="../../assets/partners/smartsweep.jpg">

    </div>

  </div>
</div>


<div class="container-fluid p-casestudies">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 study-cards">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm">
          <img class="img-fluid test" src="../../assets/temp/servercluster.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm card-mid">
          <img class="img-fluid test" src="../../assets/temp/iteration.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm">
          <img class="img-fluid test" src="../../assets/temp/visualdata.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
      </div>
    </div>
  </div>
