<div class="container-fluid">
  <div class="row justify-content-center product-start">
    <div
      class="col-11 col-sm-11 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
      <h1 class="q_title ComfortaaB productstart-title" style="color:#06a1d8">
        Start making data-driven decisions!
      </h1>
      <p class="content_b Varela productstart-body">
        Our powerful data analytics software and productivity applications can help boost your business!
      </p>
    </div>
    <div
      class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">
      <img class="img-fluid" src="../../assets/temp/progressive3.svg">
    </div>
  </div>
</div>

<div class="container-fluid products-bg">
  <div class="row justify-content-center product-display">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 rounded shadow-lg product-card">
      <div class="row justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
          <h1 class="q_title ComfortaaB products_content product-title">
            QMobile
          </h1>
          <p class="content_b Varela products_content product-body">
            QMobile is a queue slot reservation and appointment booking app to help your business provide excellent
            customer queuing
            experience and increase customer engagements.
          </p>
          <button class="content_btn" type="submit">See it in action!</button>
        </div>
        <div
          class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">

        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center product-display">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 rounded shadow-lg product-card">
      <div class="row justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
          <h1 class="q_title ComfortaaB products_content product-title">
            QApps
          </h1>
          <p class="content_b Varela products_content product-body">
            QApps is a queue management solution that enables your business to manage high customer traffic in your
            store or office
            and monitor staff productivity and efficiency.

            <br>
            <br>
            Price starts at PHP 750.00 / branch / month.
          </p>
          <button class="content_btn" type="submit"
            a="https://play.google.com/store/apps/details?id=com.innovations.timefree.qmobile&hl=en&gl=US">Request
            demo</button>
        </div>
        <div
          class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">

        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center product-display">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 rounded shadow-lg product-card">
      <div class="row justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
          <h1 class="q_title ComfortaaB products_content product-title">
            QSafe
          </h1>
          <p class="content_b Varela products_content product-body">
            QSafe is a contact-tracing solution to help your business or office keep track of customer interactions for
            Covid-19
            contact tracing.

            <br>
            <br>
            Price starts at PHP 300.00 / station / month.
          </p>
          <button class="content_btn" type="submit">Request demo</button>
        </div>
        <div
          class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">

        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center product-display">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 rounded shadow-lg product-card">
      <div class="row justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
          <h1 class="q_title ComfortaaB products_content product-title">
            Tapio
          </h1>
          <p class="content_b Varela products_content product-body">
            Tapio is a digital attendance monitoring solution to help your business easily monitor employee attendance.

            <br>
            <br>
            Price starts at PHP 40.00 / employee / month.
          </p>
          <button class="content_btn" type="submit">Request demo</button>
        </div>
        <div
          class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">

        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center product-display">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 rounded shadow-lg product-card">
      <div class="row justify-content-center">
        <div
          class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 order-xxl-1">
          <h1 class="q_title ComfortaaB products_content product-title">
            Financia
          </h1>
          <p class="content_b Varela products_content product-body">
            Financia is an HRIS platform that combines the power of data analytics and the cloud to give your business
            24x7 access
            to your HR needs including accounting, payroll, employee management, and many others.

            <br>
            <br>
            Price starts at PHP 85.00 / employee / month.
          </p>
          <button class="content_btn" type="submit">Request demo</button>
        </div>
        <div
          class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 order-xxl-2">

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid p-casestudies">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 col-xxl-10 study-cards">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm">
          <img class="img-fluid test" src="../../assets/temp/servercluster.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm card-mid">
          <img class="img-fluid test" src="../../assets/temp/iteration.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
        <div class="col-11 col-sm-11 col-md-3 col-lg-3 col-xl-3 col-xxl-3 casestudies_card rounded shadow-sm">
          <img class="img-fluid test" src="../../assets/temp/visualdata.svg">
          <p class="content_b Varela casestudiescontent">
            See what our customer in the Petroleum industry has to say about our
            customer service!
          </p>
          <button class="content_btn" type="submit">Learn more</button>
        </div>
      </div>
    </div>
  </div>
