<div class="container-fluid service">
  <div class="row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 shadow-sm rounded-bottom">
      <div class="row justify-content-center">
        <div class="col-12 lottiehead-entr rounded">
          <lottie-player style="height: 300px;" src="../../assets/lottie/lf30_editor_vg12dyev.json"
            background="transparent" speed="1" loop autoplay>
          </lottie-player>
        </div>
      </div>
      <h1 class="content_title_b Varela entr-title">
        Enterprise Software Development
      </h1>
      <p class="content_b Varela entr-body">
        Do you need help to build scalable and secure enterprise software at a fraction of the cost?

      </p>
      <p class="content_b Varela entr-body">
        We are experts in Enterprise Software Development that focuses on scalability, high availability, security, and
        data
        analytics.
      </p>
      <div class="row justify-content-center text-center entr-calltoactions">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">See our work</button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid service">
  <div class="row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 shadow-sm rounded-bottom">
      <div class="row justify-content-center">
        <div class="col-12 lottiehead-mbl rounded">
          <lottie-player style="height: 400px;" src="../../assets/lottie/lf30_editor_bzyoiorz.json"
            background="transparent" speed="1" loop autoplay>
          </lottie-player>
        </div>
      </div>
      <h1 class="content_title_b Varela entr-title">
        Mobile Application Development
      </h1>
      <p class="content_b Varela entr-body">
        Are you looking for a reliable software developer to help you create a responsive, scalable, user-friendly, and
        secure
        mobile app?
      </p>
      <p class="content_b Varela entr-bodyanswer">
        We are experts in Android and iOS mobile app development focusing on creating intuitive and secure mobile apps
        that can
        help your business grow.
      </p>
      <div class="row justify-content-center text-center entr-calltoactions">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">See our work</button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid service">
  <div class="row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 shadow-sm rounded-bottom">
      <div class="row justify-content-center">
        <div class="col-12 lottiehead-sys rounded">
          <lottie-player style="height: 300px;" src="../../assets/lottie/lf30_editor_jkxhiv2u.json"
            background="transparent" speed="1" loop autoplay>
          </lottie-player>
        </div>
      </div>
      <h1 class="content_title_b Varela entr-title">
        Systems Integrations
      </h1>
      <p class="content_b Varela entr-body">
        Do you need help in integrating your systems to the cloud?

      </p>
      <p class="content_b Varela entr-body">
        Do you need to build custom software for systems integration?
      </p>
      <p class="content_b Varela entr-bodyanswer">
        We are systems integration experts that can help you build secure APIs and integrate your disparate systems into
        one
        platform
        <br> to give you more powerful data analytics that can help you make timely informed decisions.
      </p>
      <div class="row justify-content-center text-center entr-calltoactions">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">See our work</button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid service">
  <div class="row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 shadow-sm rounded-bottom">
      <div class="row justify-content-center">
        <div class="col-12 lottiehead-cld rounded">
          <lottie-player style="height: 300px;" src="../../assets/lottie/lf30_editor_dqjsscvz.json"
            background="transparent" speed="1" loop autoplay>
          </lottie-player>
        </div>
      </div>
      <h1 class="content_title_b Varela entr-title">
        Cloud Hosting and Migration Services
      </h1>
      <p class="content_b Varela entr-body">
        Are you looking for a reliable, secure, and affordable cloud hosting provider?

      </p>
      <p class="content_b Varela entr-body">
        Do you need help in migrating your systems to the cloud?

      </p>
      <p class="content_b Varela entr-bodyanswer">
        We are experts in Microsoft Azure specializing in cloud hosting, cloud migration, cloud security, and cloud
        optimization
        <br> to reduce cost,
        improve performance, protect data, and increase revenue.
      </p>
      <div class="row justify-content-center text-center entr-calltoactions">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">See our work</button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid service">
  <div class="row justify-content-center text-center">
    <div class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 col-xxl-10 shadow-sm rounded-bottom">
      <div class="row justify-content-center">
        <div class="col-12 lottiehead-entr rounded">
          <lottie-player style="height: 300px;" src="../../assets/lottie/lf30_editor_qf1jgglo.json"
            background="transparent" speed="1" loop autoplay>
          </lottie-player>
        </div>
      </div>
      <h1 class="content_title_b Varela entr-title">
        E-Commerce Platform Development
      </h1>
      <p class="content_b Varela entr-body">
        Do you need help in creating your e-commerce business?

      </p>
      <p class="content_b Varela entr-body">
        Do you need help in migrating your systems to the cloud?

      </p>
      <p class="content_b Varela entr-bodyanswer">
        We are experts in e-commerce platform development that can deliver an end-to-end solution <br> from product
        catalogs and
        customized content to payments and logistics integration.
      </p>
      <div class="row justify-content-center text-center entr-calltoactions">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">See our work</button>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button class="content_btn entr-btn" type="submit">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>
